.latest {
  width: 90%;
  max-width: 80rem;
  margin: var(--size-8) auto;
  color: white;
  padding: 0px 80px;
}

.latest h2 {
  font-size: 38px;
  color: white;
  text-align: flex-start;
}

@media (min-width: 768px) {
  .latest h2 {
    font-size: 38px;
  }
}
