.alert {
    margin: 1rem auto;
    padding: 1rem 2rem;
    width: 90%;
    max-width: 60rem;
    background-color: #2b2b2b;
    color: white;
    font-weight: normal;
    font-size: 1.0rem;
    text-align: center;
    border-radius: 6px;
  }