/* Variables */
:root {
  --black: #000;
  --white: #fff;
  --grey-100: #2B2B2B;
  --grey-200: #3B3B3B;
  --grey-300: #858584;
  --purple: #A259FF;
  --gradient-1: linear-gradient(128.15deg, #A259FF 49.75%, #377DF7 136.56%);
  --gradient-2: linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
}