.btn {
  padding: 12px 20px;
  text-decoration: none;
  background-color: var(--purple);
  border: 2px solid;
  border-radius: 20px;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: var(--base-size);
  line-height: 1.5;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

.btn__icon {
  display: flex;
  align-items: center;
}

.btn--primary {
  background-color: var(--purple);
  border-color: var(--purple);
}
.btn--primary:hover,
.btn--primary:active {
  background-color: transparent;
}
.btn--primary:hover .btn__icon,
.btn--primary:active .btn__icon {
  color: var(--purple);
}

.btn--secondary {
  background-color: transparent;
  border-color: var(--purple);
}
.btn--secondary .btn__icon {
  color: var(--purple);
}
.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--purple);
}
.btn--secondary:hover .btn__icon,
.btn--secondary:active .btn__icon {
  color: var(--white);
}
